h3, label{
  color: #718DA5;
}
body{
  background-color: #2A4F6E;
}
.container{
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top:15px;
  padding-bottom: 15px;
  background-color: #123552;
  border-radius: 5px;
}
.form-control{
  background-color: #123552;
  color: #718DA5;
}
#enterButton{
  text-align: center;
}
#welcome{
  text-align: center;
}
#welcome, #information{
  color: #042037;
  font-size: 30px;
  background-color: #2A4F6E;
  padding: 10px;
  width: auto;
  border-radius: 5px;
}
#hiddenMessage{
  display: none;
  margin-top: 10px;
}
#result{
  display: none;
}
#answerBox{
  height: 160px;
  text-align: center;
}
#result{
  width: auto;
  height: 100px;
}
@media screen and (max-width: 767px) {
  h3{
    font-size: 16px;
  }
  label{
    font-size: 12px;
  }
  body{
    background-color: #123552;
  }
  .container{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #welcome, #information{
    font-size: 20px;
  }
}
